@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

/* Customize the entire scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Scrollbar Track */
::-webkit-scrollbar-track {
  background: none;
  border-radius: 10px;
}

/* Scrollbar Handle (Thumb) */
::-webkit-scrollbar-thumb {
  background: #707876;
  border-radius: 10px;
}
